
 #myCarousel .carousel-indicators>button {
    width: 8px;
    height: 8px;
    border: none !important;
    border-radius: 100%;
}
.carousel-indicators>button:not(.active) {
    background: #ddd !important;
}
.carousel-indicators{
    height: 120px;
}

/*  My request list */
.line7865{
    height: 1px;
}
/* End  My request list */